<div class="directives">
    <oasis-row>
        <oasis-col md="12">
            <oasis-box>
                <oasis-box-header>
                    <span class="title">指令示例</span>
                </oasis-box-header>
                <oasis-box-body height-auto>
                   <form-dire></form-dire>
                </oasis-box-body>
            </oasis-box>
        </oasis-col>
    </oasis-row>

     <oasis-row>
        <oasis-col md="12">
            <oasis-box>
                <oasis-box-header>
                    <span class="title">自定义指令</span>
                </oasis-box-header>
                <oasis-box-body height-auto>
                  <hello></hello>
                </oasis-box-body>
            </oasis-box>
        </oasis-col>
    </oasis-row>
</div>
